In [2]:
import pandas as pd
import os

In [3]:
cwd = os.getcwd()
print(cwd)

/Volumes/Work/Projects/cpiprediction/notebooks

In [4]:
overall = pd.read_excel("../data/raw/CPIOverall.xlsx")

In [7]:
overall

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1982,94.300,94.600,94.500,94.900,95.800,97.000,97.500,97.700,97.900,98.200,98.000,97.600
1,1983,97.800,97.900,97.900,98.600,99.200,99.500,99.900,100.200,100.700,101.000,101.200,101.300
2,1984,101.900,102.400,102.600,103.100,103.400,103.700,104.100,104.500,105.000,105.300,105.300,105.300
3,1985,105.500,106.000,106.400,106.900,107.300,107.600,107.800,108.000,108.300,108.700,109.000,109.300
4,1986,109.600,109.300,108.800,108.600,108.900,109.500,109.500,109.700,110.200,110.300,110.400,110.500
5,1987,111.200,111.600,112.100,112.700,113.100,113.500,113.800,114.400,115.000,115.300,115.400,115.400
6,1988,115.700,116.000,116.500,117.100,117.500,118.000,118.500,119.000,119.800,120.200,120.300,120.500
7,1989,121.100,121.600,122.300,123.100,123.800,124.100,124.400,124.600,125.000,125.600,125.900,126.100
8,1990,127.400,128.000,128.700,128.900,129.200,129.900,130.400,131.600,132.700,133.500,133.800,133.800
9,1991,134.600,134.800,135.000,135.200,135.600,136.000,136.200,136.600,137.200,137.400,137.800,137.900
10,1992,138.100,138.600,139.300,139.500,139.700,140.200,140.500,140.900,141.300,141.800,142.000,141.900
11,1993,142.600,143.100,143.600,144.000,144.200,144.400,144.400,144.800,145.100,145.700,145.800,145.800
12,1994,146.200,146.700,147.200,147.400,147.500,148.000,148.400,149.000,149.400,149.500,149.700,149.700
13,1995,150.300,150.900,151.400,151.900,152.200,152.500,152.500,152.900,153.200,153.700,153.600,153.500
14,1996,154.400,154.900,155.700,156.300,156.600,156.700,157.000,157.300,157.800,158.300,158.600,158.600
15,1997,159.100,159.600,160.000,160.200,160.100,160.300,160.500,160.800,161.200,161.600,161.500,161.300
16,1998,161.600,161.900,162.200,162.500,162.800,163.000,163.200,163.400,163.600,164.000,164.000,163.900
17,1999,164.300,164.500,165.000,166.200,166.200,166.200,166.700,167.100,167.900,168.200,168.300,168.300
18,2000,168.800,169.800,171.200,171.300,171.500,172.400,172.800,172.800,173.700,174.000,174.100,174.000
19,2001,175.100,175.800,176.200,176.900,177.700,178.000,177.500,177.500,178.300,177.700,177.400,176.700
20,2002,177.100,177.800,178.800,179.800,179.800,179.900,180.100,180.700,181.000,181.300,181.300,180.900
21,2003,181.700,183.100,184.200,183.800,183.500,183.700,183.900,184.600,185.200,185.000,184.500,184.300
22,2004,185.200,186.200,187.400,188.000,189.100,189.700,189.400,189.500,189.900,190.900,191.000,190.300
23,2005,190.700,191.800,193.300,194.600,194.400,194.500,195.400,196.400,198.800,199.200,197.600,196.800
24,2006,198.300,198.700,199.800,201.500,202.500,202.900,203.500,203.900,202.900,201.800,201.500,201.800
25,2007,202.416,203.499,205.352,206.686,207.949,208.352,208.299,207.917,208.490,208.936,210.177,210.036
26,2008,211.080,211.693,213.528,214.823,216.632,218.815,219.964,219.086,218.783,216.573,212.425,210.228
27,2009,211.143,212.193,212.709,213.240,213.856,215.693,215.351,215.834,215.969,216.177,216.330,215.949
28,2010,216.687,216.741,217.631,218.009,218.178,217.965,218.011,218.312,218.439,218.711,218.803,219.179
29,2011,220.223,221.309,223.467,224.906,225.964,225.722,225.922,226.545,226.889,226.421,226.230,225.672
30,2012,226.665,227.663,229.392,230.085,229.815,229.478,229.104,230.379,231.407,231.317,230.221,229.601
31,2013,230.280,232.166,232.773,232.531,232.945,233.504,233.596,233.877,234.149,233.546,233.069,233.049
32,2014,233.916,234.781,236.293,237.072,237.900,238.343,238.250,237.852,238.031,237.433,236.151,234.812
33,2015,233.707,234.722,236.119,236.599,237.805,238.638,238.654,238.316,237.945,237.838,237.336,236.525
34,2016,236.916,237.111,238.132,239.261,240.229,241.018,240.628,240.849,241.428,241.729,241.353,241.432
35,2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524
36,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233
37,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974
38,2020,257.971,258.678,258.115,256.389,256.394,257.797,259.101,259.918,260.280,260.388,260.229,260.474
39,2021,261.582,263.014,264.877,267.054,269.195,271.696,273.003,273.567,274.310,NaN,NaN,NaN